*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Lato',sans-serif;
}
/*Navigation Start */
#navbar{
    background: #EF6079FF;
} /*#fb8fab*/
#logo{
    font-size: 36px;
    font-weight: 700;
    color: #f9f9f9;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 5px;
}
#logo span{
    color: palegreen ;
}
.navbar-toggler span{
    color: #f9f9f9;
}
.navbar-nav{
    margin-left: 20px;
}
.nav-item .nav-link{
    font-size: 20px;
    font-weight: 600;
    color: #f9f9f9;
    letter-spacing: 0px;
    border-radius: 3px;
    transition: 0.5s ease;
}
.nav-item .nav-link:hover{
    background: #fb8fab;
    color: white;
}

/*Home Section Start*/
.home{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url('cover/coverDes2.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.home .content{
    text-align: center;
    padding-top: 200px;
}
.home .content h5{
    color: black;
    font-size: 38px;
    font-weight: 500;
    text-shadow: 0px 1px 1px white;
}
.home .content h1{
    color: black;
    font-size: 60px;
    font-weight: 550;
    text-shadow: 0px 1px 1px white;
    margin-top: 5px;
}
.changecontent::after{
    content: '';
    color: #ff1e76;
    text-shadow: 0px 1px 1px #f9f9f9;
    animation: changetext 10s infinite linear;
}
@keyframes changetext{
    0%{content: "Pinagbanderahan";}
    20%{content: "Bantakay Falls";}
    40%{content: "Bayview Resort";}
    60%{content: "Baypark";}
    80%{content: "De Gracia Resort";}
    100%{content: "Aloco Falls";}
}
.home .content p{
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 30px;
}
.home .content a{
    padding: 10px;
    background: white;
    color: black;
    letter-spacing: 2px;
    font-weight: 550;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
}
.home .content a:hover{
    background: #fb8fab;
    color: white;
}

@media (max-width:850px){
    .home{
        background-position: 50%;
    }
}
@media (max-width:450px){
    .home .content h5 {
        font-size: 25px;
    }
    .home .content h1{
        font-size: 38px;
    }
    .home .content p{
        font-size: 13px;
    }
}
/*Home Section End */

/*Destination Starts*/
.main-txt h1{
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
}
.main-txt h1 span{
    color: #ff1e76;
}
.destination .card{
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
   
} 
.destination .card img{
    border-radius: 5px;
}
.destination .card .card-body{
    background: transparent;
}
.destination .card .card-body h3{
    font-size: 25px;
    font-weight: 600;
}
.destination .card .card-body p{
    font-size: 15px;
}
.checked{
    color: #EF6079FF;
}
.destination .card .card-body  h6{
    font-size: 20px;
    padding: 1px;
}
.destination .card .card-body  a{
    padding: 10px;
    text-decoration: none;
    background: #EF6079FF;
    color: white;
    border-radius: 50px;
}
/*Destination End*/

/*Book*/
.book{
    background-color: #f9f9f9;
    padding: 50px;
}
.book .card{
    border-radius: 10px;
    box-shadow: 0px 5px 5px -6px black;
}
.book .row{
    margin-top: 30px;
}
.book form input{
    padding: 10px;
    color: black;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px -6px black;
}
.book form textarea{
    border: none;
    border-radius: 10px;
    resize: none;
    box-shadow: 0px 5px 5px -6px black;
    height: 200px;
}
.book .submit{
    width: 160px;
    font-size: 16px;
    font-weight: 550;
    background: #EF6079FF;
    color: white;
    margin-top: 10px;
    transition: 0.5s;
}
.book .submit:hover{
    width: 170px;
}
/*book end*/
/*Place to visit*/
#news-slider {
    margin-top: 80px;
}

.post-slide {
    background: #fff;
    margin: 20px 15px 20px;
    border-radius: 15px;
    padding-top: 1px;
    box-shadow: 0px 14px 22px -9px #bbcbd8;
}

.post-slide .post-img {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: -12px 15px 8px 15px;
    margin-left: -10px;
}

.post-slide .post-img img {
    width: 100%;
    height: auto;
    transform: scale(1, 1);
    transition: transform 0.2s linear;
}

.post-slide:hover .post-img img {
    transform: scale(1.1, 1.1);
}

.post-slide .over-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: linear-gradient(-45deg, rgba(255, 31, 105, 0.842) 0%, rgba(255, 168, 209, 0.8) 100%);
    transition: all 0.50s linear;
}

.post-slide:hover .over-layer {
    opacity: 1;
    text-decoration: none;
} 

.post-slide .over-layer i {
    position: relative;
    top: 45%;
    text-align: center;
    display: block;
    color: #fff;
    font-size: 25px;
}

.post-slide .post-content {
    background: #fff;
    padding: 2px 20px 40px;
    border-radius: 15px;
}

.post-slide .post-title a {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    display: inline-block;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}

.post-slide .post-title a:hover {
    text-decoration: none;
    color:#fb8fab;
}

.post-slide .post-description {
    line-height: 24px;
    color: #808080;
    margin-bottom: 25px;
}

.post-slide .post-date {
    color: #a9a9a9;
    font-size: 14px;
}

.post-slide .post-date i {
    font-size: 20px;
    margin-right: 8px;
    color: #CFDACE;
}

.post-slide .read-more {
    padding: 10px 20px;
    float: center;
    font-size: 12px;
    background: #EF6079FF;
    color: #ffffff;
    box-shadow: 0px 10px 20px -10px #fb8fab;
    border-radius: 25px;
    text-transform: uppercase;
}

.post-slide .read-more:hover {
    background: #fb8fab;
    text-decoration: none;
    color: #fff;
}

.owl-controls .owl-buttons {
    text-align: center;
    margin-top: 20px;
}

.owl-controls .owl-buttons .owl-prev {
    background: #fff;
    position: absolute;
    top: -13%;
    left: 15px;
    padding: 0 18px 0 15px;
    border-radius: 50px;
    box-shadow: 3px 14px 25px -10px #fb8fab;
    transition: background 0.5s ease 0s;
}

.owl-controls .owl-buttons .owl-next {
    background: #fff;
    position: absolute;
    top: -13%;
    right: 15px;
    padding: 0 15px 0 18px;
    border-radius: 50px;
    box-shadow: -3px 14px 25px -10px #fb8fab;
    transition: background 0.5s ease 0s;
}

.owl-controls .owl-buttons .owl-prev:after,
.owl-controls .owl-buttons .owl-next:after {
    content: "\f104";
    font-family: FontAwesome;
    color: #333;
    font-size: 30px;
}

.owl-controls .owl-buttons .owl-next:after {
    content: "\f105";
}

@media only screen and (max-width:1280px) {
    .post-slide .post-content {
        padding: 0px 15px 25px 15px;
    }
}



/*Footer Starts*/
#footer{
    width: 100%;
    margin-top: 150px;
    text-align: center;
    background: rgba(0,0,0,0.2);
}
#footer h1{
    font-weight: 600;
    padding-top: 30px;
    text-shadow: 0px 0px 1px black;
}
#footer h1 span{
    color: #EF6079FF;
}
.social-links i{
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    background: #ff1e76;
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
.social-links i:hover{
    background:#fb8fab;
}
/*Footer Ends*/